---
import BaseLayout from '../layouts/BaseLayout.astro';

import Icon from '../components/Icon.astro';
import CallToAction from '../components/CallToAction.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Contacto" description="Pagina de contacto">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Contacto"
				tagline="Gracias por confiar en nosotros"
			>
				<img
					width="1553"
					height="873"
					src="/assets/jhonny.jpeg"
					alt="Esmalder trabajando"
				/>
			</Hero>

			<section>
				<h2 class="section-title">ReparaTuBañera</h2>
				<div class="content">
					<p>
						Puedes preguntarnos tus dudas o enviarnos una foto de la bañera o ducha junto con la poblacion y te contestaremos en seguida.
					</p>
					<br>
					<CallToAction href='#'>Envianos un Whatsapp
						<Icon icon='whatsapp'></Icon>
					</CallToAction>
					<br>
					<CallToAction href='#'>Contactanos via e-Mail
						<Icon icon='paper-plane-tilt'></Icon>
					</CallToAction>
				</div>
			</section>
		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
